element.style {
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h2 {
  display: block;
  font-weight: bold
}
body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}
body {
  display: block;
  margin: 8px;
}

p {
    color: Gray;
    font-size: 20px;
}
.footer {
  text-align: right;
}
